footer {
  background-color: $black_color;
  margin: -6px 0 0px 0px;
  h2 {
    color: #444348;
    font-size: 14px;
    text-align: center;
  }
  .footer_icons {
    max-width: 320px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
    a {
      padding: 0 10px;
      i {
        color: #444348;
      }
      &:hover i {
        color: #008ed6;
      }
    }
  }
}
